{% extends "layout.html" %}
{% load static %}

{% block title %}
About Page
{% endblock %}


{% block content %}
<div class="container">
    <h1>Hello, I'm Saif Eddine Matab, aka Kernel.rs👋</h1>
    <p>I'm a 19-year-old Computer Science student passionate about MLOps and Site Reliability Engineering. Here's a glimpse of my skills:</p>
    <ul>
        <li>Python</li>
        <li>Rust</li>
        <li>Java</li>
        <li>C</li>
        <li>JavaScript</li>
    </ul>
    <p>Return to the <a href='/'>home</a> page</p>
</div>
{% endblock %}
